<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="main-content">
        {{>header}}
        {{helpText}}
    </div>

    {{>footer}}
</body>

</html>